<!DOCTYPE html>
<html= lang="ko">
<head>
  <title>Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=
  "{{url_for('static', filename='css/index.css')}}">
  </head>
  <body>
    <div id="intro" class="contents">
      <h1>Flask</h1>
      <a href="/register.html"><button type="button" id="register"value="register">회원가입
      </button></a><br><br>
      <a href="/login.html"><button type="button" id="login"value="login">로그인
      </button></a><br><br>
      <a href="/shopping.html"><button type="button" id="shopping" value="shopping">쇼핑하기
      </button></a><br><br>
    </div>
    <footer>
      <section id="bottomMenu">
        <ul>
          <a href="#"><li> 이용안내 </li></a>
          <a href="#"><li> 개인정보약관 </li></a>
          <a href="#"><li> 만든이 </li></a>
        </ul>
    </footer>
  </body>
</html>